<!--LOADER-->
<div class="jumbotron imgLoader" *ngIf="isLoading">
  <div class="center-on-page">
      <div class="pokeball">
        <div class="pokeball__button"></div>
      </div>
  </div>
</div>

<!--POKEMOM INFO-->
<div class="jumbotron" [ngStyle]="{'height': 'calc(100% - 60px)'}">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center">

              <button type="button" class="close goBack" (click)="goBack()">
                  <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
              </button>

            <h4 class="font-weight-bold">{{pokemon.name | uppercase}}</h4>
          </div>
        </div>

        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <img width="200px" src="../../../assets/images/pokemons/{{pokemon.id}}.svg" *ngIf="pokemon.id != null"  alt="">
            <img width="200px" src="../../../assets/images/pokemons/0.png" *ngIf="pokemon.id == null"  alt="">
          </div>
          <div class="col-md-6">
            <div class="pokemonTypes">
              <div class="d-inline pokemonType" *ngFor="let t of pokemonTypes" [ngStyle]="{'backgroundColor': typeColors[t]}">
                {{t}}
              </div>
            </div>

            <div class="vcenter">
              <div class="row">
                <div class="col-md-6 text-left"><strong>HP</strong></div>
                <div class="col-md-6">
                  <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar"
                      aria-valuemin="0" aria-valuemax="150" [style.width.%]="pokemonStats[5]">
                      {{pokemonStats[5]}}
                      </div>
                  </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-6"><strong>Attack</strong></div>
                  <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                        aria-valuemin="0" aria-valuemax="150" [style.width.%]="pokemonStats[4]">
                        {{pokemonStats[4]}}
                        </div>
                    </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6"><strong>Defense</strong></div>
                  <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                        aria-valuemin="0" aria-valuemax="150" [style.width.%]="pokemonStats[3]">
                        {{pokemonStats[3]}}
                        </div>
                    </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6"><strong>Speed</strong></div>
                  <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                        aria-valuemin="0" aria-valuemax="150" [style.width.%]="pokemonStats[0]">
                        {{pokemonStats[0]}}
                        </div>
                    </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6"><strong>Special Attack</strong></div>
                  <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                        aria-valuemin="0" aria-valuemax="150" [style.width.%]="pokemonStats[2]">
                        {{pokemonStats[2]}}
                        </div>
                    </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6"><strong>Special Defense</strong></div>
                  <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                        aria-valuemin="0" aria-valuemax="150" [style.width.%]="pokemonStats[1]">
                        {{pokemonStats[1]}}
                        </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-6 text-left">
                  <strong>Captured in:</strong>
                </div>
                <div class="col-md-6 text-center">
                    <strong>{{pokemon.capture_date}}</strong>
                </div>
              </div>

            </div>
          </div>
        </div>

        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

        <div class="row">
          <div class="col-md-12">
            <h5><b>Description</b></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              {{pokemon.description}}
          </div>
        </div>

        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

        <div class="row">
          <div class="col-md-12">
            <h5><b>Informations</b></h5>
          </div>

          <div class="col-md-3">
              <div class="d-inline"><b>National ID: </b></div>
              <div class="d-inline">#{{pokemon.id}}</div>
          </div>

          <div class="col-md-3">
              <div class="d-inline"><b>Height: </b></div>
              <div class="d-inline">{{pokemon.height/10}} m</div>
          </div>

          <div class="col-md-3">
              <div class="d-inline"><b>Weight: </b></div>
              <div class="d-inline">{{pokemon.weight/10}} kg</div>
          </div>

          <div class="col-md-3">
              <div class="d-inline"><b>Capture Rate: </b></div>
              <div class="d-inline">{{pokemon.capture_rate | number:'2.0-1'}}%</div>
          </div>
        </div>

        <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

        <div class="row">
          <div class="col-md-12">
            <h5><b>Moves</b></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" *ngFor="let m of pokemonMoves">{{m}}</div>
        </div>
      </div>
  </div>
